.header{
    padding-bottom: 3rem;
    padding-top: 1rem;
    text-align: center;
    font-style: italic;
}

.col{
    border: solid 1px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#rowTitle{
    background-color: rgb(255, 196, 0);
}